
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="saori-logo">
      <img src="<%= asset_path('saori-logo.png') %>">
    </a>
    <h2>Hola, soy Saori, Bogotana, fashionista, Colombiana, ultra-chic</h3>
    <h3 class="text-left lead">¿Quieres verte mejor? Yo te ayudo. Conozco los secretos y las marcas para que te veas bien y descubras la mejor versión de ti.</h3>
    <a type="button" class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-download"></span> Saori Online PDF</a>
    <a type="button" class="btn btn-lg btn-default" href="/">
      <img class="glyph-ig" src="<%= asset_path('glyph-ig.png') %>"> Visita mi tienda
    </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
 Las personas prefieren desarrollar su identidad individual, aquí estan las sugerencias para un buen <a href="/" class="alert-link">Look de Cuarentena 2020</a> como ejemplo del gran vestir.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> ¿Cómo funciona?</h3>
      <ul>
        <li>Los que llegan a mi tienda casi siempre me preguntan por un objeto que vieron en línea, por ejemplo se les gusta el <a href="/">Fútbol </a> me preguntan por un balón. </li>

        <li>Tengo los contactos con las tiendas de marca que venden esos  <a href="/"> Accesorios </a>, que las personas necesitan para hacer deporte, decorar su casa, hacer un regalo.</li>
        <li>Esta plataforma funciona como ambiente para perfilar estilos, escuchar las últimas tendencias en <a href="/"> Moda </a> lo que hace que la vida sea más amena y tengo un estilo propio.</li>
        <li>He logrado diversificar la escena de la moda creando más de <a href="https://addons.heroku.com/">150 outfits</a> en un mes. Suficiente para que cada persona tenga su propio estilo</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Pasos a seguir para hacer una compra</h3>
      <ul>
        <li>Si estas siguiendo el documento descargable <a href="/">Saori Online</a> encontrarás una guía para saber cómo lograr tu mejor look</li>
        <li>Si ya escogiste el outfit o el accesorio que quieres llevar</li>
        <ul>
          <li><code>Hola Saori ¿qué me recomiendas hoy?</code> - associate the Heroku app with the repository</li>
          <li><code>Genial Saori, ya sé lo que quiero llevar, gracias por la información</code> - así te doy un precio y una fecha de entrega</li>
          <li><code>Listo Saori, ya pagué el accesorio que más me gustó</code> - cuando tenga tus datos de entrega te hago el envío a tu casa</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>Hazme saber si algo salió fuera de lo planeado y miraremos dentro de <a href="/">términos, referentes y garantías </a> para que te sientas a gusto con mi trabajo.</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Enlaces amigos</h3>
      <ul>
        <li><a href="https://trends.google.com/trends/?geo=CO">Google Trends</a></li>
        <li><a href="https://www.trendhunter.com/">Trend Hunter</a></li>
        <li><a href="https://www.bazzarbog.com/">Talento local Cámara de Comercio</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Por favor ten en cuenta todas mis sugerencias. Mi trabajo es actualizar día a día las tendencias para que las personas sientan la satisfacción de constante evolución y desarrollo de su personalidad. Tómate tu tiempo para elegir lo que quieres y cuida eso que tanto te gusta.
  </div>
</div>
