
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="saori-log">
      <img src="<%= asset_path('saori-log.jpg') %>">
    </a>
    <p class="text-center font-weight-light" style="font-size: 22px;">Hola, soy Saori una bogotana superchic</p>
        <h3 class="text-center font-weight-light">¿Puedo ayudarte?</h3>
        <p> Conozco los secretos y las marcas para que te veas cada vez mejor y descubras la mejor versión de ti.</p>
        <a class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-download"></span> Saori Looks PDF</a>
        <a type="button" class="btn btn-lg btn-default" href="/">
         <img class="glyph-ig" src="<%= asset_path('glyph-ig.png') %>"> Visita mi tienda
        </a> 
  </div>
</div>
<div class="container text-center">
  <div class="alert alert-primary " role="alert">
 Aquí estan las sugerencias para un buen <a href="/" class="alert-link">Look de Cuarentena 2020</a> como ejemplo del gran vestir.
  </div>
<hr>
  <div class="row">
    <div class="col-md-6">
      <h4><span class="glyphicon glyphicon-info-sign"></span> ¿Cómo funciona?</h4>
      <ul style="list-style-type: decimal;" class="text-left">
        <li >Los que llegan a mi tienda casi siempre me preguntan por algo que vieron en línea, por ejemplo si les gusta el <a href="/">fútbol </a> me preguntan por un balón o una camiseta, también bebidas energizantes. </li>
        <li>Hablo a diario con las tiendas de marca que venden esos  <a href="/"> accesorios</a>.</li>
        <li>Esta plataforma funciona como ambiente para perfilar estilos, escuchar las últimas tendencias en <a href="/"> moda </a> y que la vida sea más amena.</li>
        <li>He logrado diversificar la escena de la creando más de <a href="/">150 outfits</a> mensualmente.</li>
      </ul>

      <h4><span class="glyphicon glyphicon-link" style="margin-top: 25px;"></span> Enlaces amigos</h4>
      <ul style="list-style-type: none;">
        <li><a href="https://trends.google.com/trends/?geo=CO">Google Trends</a></li>
        <li><a href="https://www.trendhunter.com/">Trend Hunter</a></li>
        <li><a href="https://www.bazzarbog.com/">Talento local Cámara de Comercio</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <h4><span class="glyphicon glyphicon-ok"></span> Pasos a seguir para hacer una compra</h4>
      <ul style="list-style-type: none;">
        <li>Descarga el documento en PDF <a href="/">Saori Online</a> es una guía sobre mis colecciones.</li>
        <li>Si ya escogiste qué quieres llevar, háblame en <a href="/">Whatsapp:</a> </li>
        <ul style="list-style-type: none;">
          <li><code>Hola Saori ¿qué me recomiendas hoy?</code> - me encargaré de asociar lo que veo en ti con lo que tengo en mis showroom</li>
          <li><code>Genial Saori, me encanta, gracias por tu propuesta</code> - entonces te doy un precio, te digo una posible fecha de entrega y donde pagar.</li>
          <li><code>Listo Saori, ya pagué ¿me confirmas cuando llega?</code> - cuando tenga la confirmación de pago lo envío a tu casa a toda prisa.</li>
          <li>Hazme saber si algo salió fuera de lo planeado y miraremos dentro de mis <a href="/">términos y garantías </a> cómo hacerte sentir completamente a gusto.</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
<hr>
   <div class="alert alert-secondary text-center" role="alert">
    Por favor ten en cuenta todas mis sugerencias. Mi trabajo es actualizar día a día las tendencias para que tengas la satisfacción y una constante evolución del desarrollo de tu personalidad. Tómate tu tiempo para elegir lo que quieres y cuida eso que tanto te gusta.
  </div>
</div>
