
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="saori-log">
      <img src="<%= asset_path('saori-log.png') %>">
    </a>
    <h2>Hola, soy Saori, Bogotana, fashionista, Colombiana, ultra-chic</h2>
    <h3 class="text-left">¿Puedo ayudarte? Conozco los secretos y las marcas para que te veas cada vez mejor y descubras la mejor versión de ti.</h3>
    <a type="button" class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-download"></span> Saori Looks PDF</a>
    <a type="button" class="btn btn-lg btn-default" href="/">
      <img class="glyph-ig" src="<%= asset_path('glyph-ig.png') %>"> Visita mi tienda
    </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
 Las personas prefieren desarrollar su identidad individual, aquí estan las sugerencias para un buen <a href="/" class="alert-link">Look de Cuarentena 2020</a> como ejemplo del gran vestir.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h4><span class="glyphicon glyphicon-info-sign"></span> ¿Cómo funciona?</h4>
      <ul>
        <li>Los que llegan a mi tienda casi siempre me preguntan por algo que vieron en línea, por ejemplo si les gusta el <a href="/">Fútbol </a> me preguntan por un balón o una camiseta, también bebidas energizantes. </li>
        <li>Hablo a diario con las tiendas de marca que venden esos  <a href="/"> Accesorios</a>, y estoy al tanto de lo mejor para cada caso en específico.</li>
        <li>Esta plataforma funciona como ambiente para perfilar estilos, escuchar las últimas tendencias en <a href="/"> Moda </a> y hacer que la vida sea más amena y tenga su estilo.</li>
        <li>He logrado diversificar la escena de la creando más de <a href="https://addons.heroku.com/">150 outfits</a> en un mes. Suficiente para que cada cuál tenga lo suyo.</li>
      </ul>

      <h4><span class="glyphicon glyphicon-link"></span> Enlaces amigos</h4>
      <ul>
        <li><a href="https://trends.google.com/trends/?geo=CO">Google Trends</a></li>
        <li><a href="https://www.trendhunter.com/">Trend Hunter</a></li>
        <li><a href="https://www.bazzarbog.com/">Talento local Cámara de Comercio</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <h4><span class="glyphicon glyphicon-link"></span> Pasos a seguir para hacer una compra</h4>
      <ul>
        <li>Descarga el documento en PDF <a href="/">Saori Online</a> es una guía sobre mis colecciones.</li>
        <li>Si ya escogiste qué quieres llevar, háblame en <a href="/">Whatsapp:</a> </li>
        <ul>
          <li><code>Hola Saori ¿qué me recomiendas hoy?</code> - me encargaré de asociar lo que veo en ti con lo que tengo en mis colecciones fashion</li>
          <li><code>Genial Saori, me encanta, gracias tu propuesta</code> - entonces te doy un precio, dónde pagar y te digo una posible fecha de entrega</li>
          <li><code>Listo Saori, ya pagué el accesorio ¿me confirmas el envío?</code> - cuando tenga tus datos de entrega lo envío a tu casa a toda prisa.</li>
          <li>Hazme saber si algo salió fuera de lo planeado y miraremos dentro de mis <a href="/">términos, referentes y garantías </a> cómo hacerte sentir completamente a gusto.</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->

   <div class="alert alert-info text-center" role="alert">
    Por favor ten en cuenta todas mis sugerencias. Mi trabajo es actualizar día a día las tendencias para que tengas la satisfacción y una constante evolución del desarrollo de tu personalidad. Tómate tu tiempo para elegir lo que quieres y cuida eso que tanto te gusta.
  </div>
</div>
