$brand-primary: #2d005f;
$brand-language:  #4d4d78;

.jumbotron {
  background: lighten($brand-primary, 70%);
  padding-bottom: 80px;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
  }

  p .text-left {
    color: #323235;
    max-width: 75%;
    margin: 1em auto 2em;

  }

  .navbar + & {
    margin-top: -20px;
  }

  .saori-log{
    display: block;
    margin: auto;
    img {
      max-width: 100%;
    }
  }

  .glyph-ig{
    display: flex;
    width: 20px;
    height: 20px;
    margin: auto;
    img {
      max-width: 100%;
    }
  }
}

